<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Provide URL</title>
</head>
<body>
<form method="post" th:action="@{/url}" name="urlForm">
    <label for="htmlPageUrl" id="htmlPageUrlLabel">URL to the page</label>
<!--    <input type="url" id="htmlPageUrl" name="htmlPageUrl" required>-->
    <input id="htmlPageUrl" name="htmlPageUrl" required>
<!--    <input type="url" id="htmlPageUrl" name="htmlPageUrl" required>-->
    <button type="submit" id="submitButton" value="Submit link">Submit li</button>
</form>

</body>
</html>