<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Bootstrap Rich Text Editor</title>

<!--    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>-->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Thymeleaf - Bootstrap Rich Text Editor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div>
    <p th:text="${testVal}">iiiiiiiiiiiiii</p>
    <p th:text="'localPort'">iiiiiiiiiiiiii</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 mt-5">
            <h1 th:text="${submitForm.title}">Title</h1>
            <div th:utext="${submitForm.content}">Content</div>
            <a th:href="@{/}" class="btn btn-primary">Go back</a>
        </div>
    </div>
</div>

<!--<button type="button" class="btn btn-danger" id="basicToastBtn">Join us</button>-->

<div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="basicToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-primary text-light">
            <h5 class="my-0">Success!</h5>
        </div>
        <div class="toast-body" id="toast-body">
            <strong>Mind Numbing Products</strong> is a force in the manufacturing and production market. Our motto is If it’s not Mind Numbing, it’s not worth it.
        </div>
    </div>
</div>
<script th:inline="javascript">
    var port = [[${localPort}]]
    console.log("localporrrtt: " + port)
    var tag = document.getElementsByName("word");
    // const max = tag.length;
    console.log(tag.length)
    for (var i1 = 0; i1 < tag.length; i1++){
        var item = tag[i1];
        item.addEventListener('click', function (event) {
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "http://localhost:" + port + "/translate", true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(JSON.stringify({
                    indexOfWordToTranslate: this.id,
                    wordToTranslate: document.getElementById(this.id).textContent
                }));
                console.log("Final array " + document.getElementById(this.id).textContent)

            xhr.onreadystatechange = function() {
                if (xhr.readyState == XMLHttpRequest.DONE) {
                    console.log(xhr.responseText)
                    var toastDiv = document.querySelector('#toast-body')
                    toastDiv.innerHTML = xhr.responseText

                    var toast = new bootstrap.Toast(document.querySelector('#basicToast'))
                    toast.show();
                }
            }
                // console.log("Final array " + document.getElementById(this.id))
            }
        )
    }
    document.querySelector("#basicToastBtn").onclick = function() {
        new bootstrap.Toast(document.querySelector('#basicToast')).show();
    }
</script>

</body>
</html>